.breadcrumb {
  margin: 0;
  font-size: var(--font-size-md);
  font-style: normal;
  font-weight: 400;
  &-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-transform: capitalize;
    max-width: 290px;
    a {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      max-width: 250px;
      color: $color-darkLiver;
      text-decoration: none;
      display: inline-block;
    }
    &-link {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      max-width: 250px;
      color: $color-darkLiver;
      text-decoration: none;
      display: inline-block;
      padding: 0;
      border: none;
      background: none;
      font: inherit;
      cursor: pointer;
    }
    &::before {
      content: none !important;
    }
    &-divider {
      display: inline-flex;
      padding-left: 14px;
      .icon-chevron-thin-right {
        font-size: var(--font-size-xs);
        font-weight: 700;
        color: $color-darkLiver;
      }
    }
  }
  .active {
    color: $color-gray;
    font-weight: 700;
    a {
      color: $color-gray;
      font-weight: 700;
    }
  }
  &.custom-userInfo {
    padding-bottom: 12px;
    border-bottom: 1px solid var(--color-light-ghost-white-2);
  }
}
