$fontInter: "Inter";
$fontSans: "Public Sans";

$baseFont: var(--default-font);

$font-size-xs: var(--font-size-xs);
$font-size-sm: var(--font-size-sm);
$font-size-md: var(--font-size-md);
$font-size-lg: var(--font-size-lg);
$font-size-xl: var(--font-size-xl);
$font-size-2xl: var(--font-size-2xl);
$font-size-3xl: var(--font-size-3xl);
$font-size-4xl: var(--font-size-4xl);
$font-size-5xl: var(--font-size-5xl);
$font-size-6xl: var(--font-size-6xl);

$radius-sm: var(--radius-sm);
$radius-md: var(--radius-md);
$radius-lg: var(--radius-lg);

$color-white: var(--color-white);
$color-black: var(--color-black);
$color-black1: var(--color-black1);
$color-light-black: var(--color-light-black);
$color-light-black-1: var(--color-light-black-1);
$color-light-black-2: var(--color-light-black-2);
$color-blue: var(--color-blue);
$color-blue-2: var(--color-blue-2);
$color-blue-3: var(--color-blue-3);
$color-blue-4: var(--color-blue-4);
$color-blue-6: var(--color-blue-6);
$color-blue-7-light: var(--color-blue-7-light);
$color-purple: var(--color-purple);
$color-purple-dark: var(--color-purple-dark);
$color-light-purple: var(--color-light-purple);
$color-pink: var(--color-pink);
$color-red: var(--color-red);
$color-light-red: var(--color-light-red);
$color-light-red-1: var(--color-light-red-1);
$color-light-red-2: var(--color-light-red-2);
$color-light-red-3: var(--color-light-red-3);
$color-text-red: var(--color-text-red);
$color-orange: var(--color-orange);
$color-orange-light: var(--color-orange-light);
$color-orange-lighter: var(--color-orange-lighter);
$color-orange-background: var(--color-orange-background);
$color-yellow: var(--color-yellow);
$color-light-yellow: var(--color-light-yellow);
$color-light-yellow-1: var(--color-light-yellow-1);
$color-light-yellow-2: var(--color-light-yellow-2);
$color-dark-green: var(--color-dark-green);
$color-light-green: var(--color-light-green);
$color-lighter-green: var(--color-lighter-green);
$color-lighter-green4: var(--color-lighter-green4);
$color-lighter-green5: var(--color-lighter-green5);
$color-lighter-green6: var(--color-lighter-green6);
$color-gray: var(--color-gray);
$color-light-gray: var(--color-light-gray);
$color-light-gray-1: var(--color-light-gray-1);
$color-light-gray-2: var(--color-light-gray-2);
$color-light-gray-3: var(--color-light-gray-3);
$color-light-gray-4: var(--color-light-gray-4);
$color-light-gray-5: var(--color-light-gray-5);
$color-light-gray-5a: var(--color-light-gray-5a);
$color-light-gray-6: var(--color-light-gray-6);
$color-light-gray-7: var(--color-light-gray-7);
$color-light-gray-8: var(--color-light-gray-8);
$color-light-gray-9: var(--color-light-gray-9);
$color-light-gray-10: var(--color-light-gray-10);
$color-light-gray-11: var(--color-light-gray-11);
$color-light-gray-12: var(--color-light-gray-12);
$color-light-gray-13: var(--color-light-gray-13);
$color-light-gray-14: var(--color-light-gray-14);
$color-light-gray-15: var(--color-light-gray-15);
$color-light-gray-bg: var(--color-light-gray-bg);
$color-light-gray-bg-11: var(--color-light-gray-bg-11);
$color-dark-gray: var(--color-dark-gray);
$color-dark-gray-1: var(--color-dark-gray-1);
$color-dark-gray-2: var(--color-dark-gray-2);
$color-dark-gray-3: var(--color-dark-gray-3);
$color-dark-gray-4: var(--color-dark-gray-4);
$color-dark-gray-5: var(--color-dark-gray-5);
$color-dark-gray-6: var(--color-dark-gray-6);
$color-dark-gray-7: var(--color-dark-gray-7);
$color-darkLiver: var(--color-darkLiver);
$color-silver: var(--color-silver);
$color-oldSilver: var(--color-oldSilver);
$color-light-light-gray: var(--color-light-light-gray);
$color-light-light-gray-1: var(--color-light-light-gray-1);
$color-light-light-gray-2: var(--color-light-light-gray-2);
$color-light-light-gray-3: var(--color-light-light-gray-3);
$color-light-light-gray-4: var(--color-light-light-gray-4);
$color-light-light-gray-5: var(--color-light-light-gray-5);
$color-light-light-gray-6: var(--color-light-light-gray-6);
$color-light-light-gray-7: var(--color-light-light-gray-7);
$color-light-light-gray-8: var(--color-light-light-gray-8);
$color-light-light-gray-9: var(--color-light-light-gray-9);
$color-light-ghost-white: var(--color-light-ghost-white);
$color-light-ghost-white-1: var(--color-light-ghost-white-1);
$color-light-ghost-white-2: var(--color-light-ghost-white-2);
$color-text-ghost-white: var(--color-text-ghost-white);
$color-primary: var(--color-primary);
$color-primary-1: var(--color-primary-1);
$color-primary-280: var(--color-primary-280);
$color-primary-260: var(--color-primary-260);
$color-primary-240: var(--color-primary-240);
$color-primary-220: var(--color-primary-220);
$color-primary-dark: var(--color-primary-dark);
$color-primary-dark-180: var(--color-primary-dark-180);
$color-primary-dark-160: var(--color-primary-dark-160);
$color-primary-dark-140: var(--color-primary-dark-140);
$color-primary-dark-120: var(--color-primary-dark-120);
$color-primary-dark-1: var(--color-primary-dark-1);
$color-primary-dark-2: var(--color-primary-dark-2);
$color-text-primary: var(--color-text-primary);
$color-primary-light-1: var(--color-primary-light-1);
$color-primary-light-2: var(--color-primary-light-2);
$color-primary-light-3: var(--color-primary-light-3);
$color-primary-light-4: var(--color-primary-light-4);
$color-primary-light-5: var(--color-primary-light-5);
$color-primary-light-6: var(--color-primary-light-6);
$color-primary-light-7: var(--color-primary-light-7);
$color-primary-light-8: var(--color-primary-light-8);
$color-primary-light-9: var(--color-primary-light-9);
$color-primary-light-10: var(--color-primary-light-10);
$color-primary-light-11: var(--color-primary-light-11);
$color-light-yellow-2-light: var(--color-light-yellow-2-light);
$color-light-yellow-light-1: var(--color-light-yellow-light-1);
$color-text-header-grey: var(--color-text-header-grey);
$color-bg-light-gray: var(--color-bg-light-gray);
$color-bg-light-gray-1: var(--color-bg-light-gray-1);
$color-black-light: var(--color-black-light);
$color-bg-btn-gray: var(--color-bg-btn-gray);
$color-icon-purple: var(--color-icon-purple);
$color-icon-orange: var(--color-icon-orange);
$color-icon-primary: var(--color-icon-primary);
$color-bg--tooltip: var(--color-bg--tooltip);
$color-btn-text-gray: var(--color-btn-text-gray);
$color-btn-filter-gray: var(--color-btn-filter-gray);
$color-border-gray: var(--color-border-gray);
$color-bg-primary-logo: var(--color-bg-primary-logo);
$color-tabs-gray: var(--color-tabs-gray);
$color-label-gray: var(--color-label-gray);
$color-value-primary: var(--color-value-primary);
$color-chips-gray: var(--color-chips-gray);
$color-gray-role: var(--color-gray-role);
$color-gray-10: var(--color-gray-10);
$color-gray-11: var(--color-gray-11);
$color-primary-tool: var(--color-primary-tool);
$color-primary-tool_text: var(--color-primary-tool_text);
$color-bg-secondary-sidebar: var(--color-bg-secondary-sidebar);
$color-text-muted: var(--color-text-muted);
$color-bg-board: var(--color-bg-board);
$color-bg-gray-99: var(--color-bg-gray-99);
$color-bg-green-light-1: var(--color-bg-green-light-1);
$color-green-7: var(--color-green-7);
$color-light-green-7: var(--color-light-green-7);
$color-blue-8: var(--color-blue-8);
$color-light-blue-8: var(--color-light-blue-8);
$color-gray-12: var(--color-gray-12);
$color-border-gray-12: var(--color-border-gray-12);
$color-boder-green-7: var(--color-boder-green-7);
$color-border-blue-8: var(--color-border-blue-8);
$color-border-blue-9: var(--color-border-blue-9);
$color-blue-light-bg: var(--color-blue-light-bg);
$color-bg-gray-tabs: var(--color-bg-gray-tabs);
$color-bg-gray-tabs: var(--color-bg-gray-tabs);
$color-dark-silver-1: var(--color-dark-silver-1);
$color-dark-silver-2: var(--color-dark-silver-2);
$color-primary-200: var(--color-primary-200);
$color-background-muted: var(--color-background-muted);
$color-bg-sideNav: var(--color-bg-sideNav);
$color-primary-light-background: var(--color-primary-light-background);
$color-primary-light-light-background: var(--color-primary-light-light-background);
$color-primary-dark-background: var(--color-primary-dark-background);
$color-primary-border-muted: var(--color-primary-border-muted);
$color-primary-text-muted: var(--color-primary-text-muted);
$color-primary-background-muted: var(--color-primary-background-muted);
$color-text-head-black: var(--color-text-head-black);
$color-primary-text-hover: var(--color-primary-text-hover);
$color-table-border: var(--color-table-border);
$color-primary-light-background-250: var(--color-primary-light-background-250);